.enter-todo{
  margin: 30px 0px;
}

.enter-todo input{
  font-size: 45px;
  height: 60px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}

.enter-todo input:focus{
  outline: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}

.todo-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-list li{
  font-size: 35px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

.todo-list .checkbox{
  vertical-align: middle;
  float: left;
  margin: 12px 40px 0 0;

  width: 30px;
  height: 30px;
  background: #ddd;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.todo-list .checkbox label{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 6px;
  left: -3px;
  z-index: 1;
  background: #333;
  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.todo-list .checkbox input[type=checkbox]:checked + label {
  background: #2ECC40;
}

input[type=checkbox] {
  visibility: hidden;
}

.todo-list .checkbox{
  vertical-align: middle;
}

.todo-list .completed .description{
  color: #999;
  text-decoration: line-through;
}

.todo-list .status{
  float: right;
  font-size: 18px;
  margin: 10px;
}
